{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "globalReturn": true,
      "jsx": false
    },
    "sourceType": "module"
  },
  "plugins": ["simple-import-sort", "promise", "prettier"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}