body, html {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  margin: 0;
  padding: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 400;
  height: 100%;
}

header, main, footer {
  padding: var(--container-padding);
}

main {
  position: relative;
}

header h1 {
  font-size: 180%;
  margin: 0;
  color: var(--md-sys-color-primary);
}

.loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--loading-indicator-background);
}
.loading-indicator[hidden] {
  display: none;
}

#login-with-google-button-wrapper {
  margin: 0 auto 3rem;
  text-align: center;
}

#google-analytics-wrapper h2 {
  display: inline-block;
  border-bottom: 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#google-analytics-lists {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 2rem;
  position: relative;
  min-height: 50px;
}
#google-analytics-lists > md-list {
  width: 50%;
  max-width: 50%;
  border-radius: 4px;
}
#properties-list {
  --md-list-container-color: var(--md-sys-color-surface-container-highest);
  --md-list-item-list-item-container-color: var(--md-sys-color-surface-container-highest);
}
md-list-item[selected] {
  --md-list-item-list-item-container-color: var(--md-sys-color-surface-container-highest);
}
md-list-item:not([selected]) > md-icon {
  visibility: hidden;
}
md-list-item[selected] > md-icon,
md-list-item:hover > md-icon {
  visibility: visible;
}

#report-wrapper {
  min-height: 50px;
  margin: 4rem auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  font-size: 120%;
}
thead, tfoot {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}
tbody {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
td, th {
  border-bottom: 2px solid var(--md-sys-color-background);
  padding: 18px 12px;
  text-align: center;
}
tbody > tr {
  cursor: pointer;
}
tbody > tr:hover {
  background-color: var(--row-highlight-background);
}