:root, body, html {
  /* devtools overrides */
  overflow: initial !important;
}

body, html {
  background-color: var(--md-sys-color-background) !important;
  color: var(--md-sys-color-on-background) !important;
  margin: 0;
  padding: 0;
  font-family: 'Bricolage Grotesque', sans-serif !important;
  font-weight: 400;
  height: 100%;
}

header, main, footer {
  padding: var(--container-padding);
}

main {
  position: relative;
}

header h1 {
  font-size: 180%;
  margin: 0;
  color: var(--md-sys-color-primary);
}

.loading-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--loading-indicator-background);
}
.loading-indicator[hidden] {
  display: none;
}

#login-with-google-button-wrapper {
  margin: 0 auto 3rem;
  text-align: center;
}

#google-analytics-wrapper h2 {
  display: inline-block;
  border-bottom: 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 0;
}
#google-analytics-lists {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 2rem;
  position: relative;
  min-height: 50px;
}
#google-analytics-lists > md-list {
  width: 50%;
  max-width: 50%;
  border-radius: 4px;
}
#properties-list {
  --md-list-container-color: var(--md-sys-color-surface-container-highest);
  --md-list-item-list-item-container-color: var(--md-sys-color-surface-container-highest);
}
md-list-item[selected] {
  --md-list-item-list-item-container-color: var(--md-sys-color-surface-container-highest);
}
md-list-item:not([selected]) > md-icon {
  visibility: hidden;
}
md-list-item[selected] > md-icon,
md-list-item:hover > md-icon {
  visibility: visible;
}

#report-wrapper {
  min-height: 50px;
  margin: 4rem auto;
  width: 100%;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  font-size: 120%;
}
thead, tfoot {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}
tbody {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}
td, th {
  border-bottom: 2px solid var(--md-sys-color-background);
  padding: 18px 12px;
  text-align: center;
  max-width: 160px;
}
tbody > tr {
  cursor: pointer;
}
tbody > tr:hover {
  background-color: var(--row-highlight-background);
}

td > md-icon {
  opacity: 0;
  pointer-events: none;
  color: var(--md-sys-color-primary);
}
tr:hover > td > md-icon {
  opacity: 1;
}

/* Devtools timeline view */
.vbox.root-view {
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 50vh;
  top: initial;
  transition: transform 0.5s;
  overflow: initial;
  background-color: var(--md-sys-color-background) !important;
  color: var(--md-sys-color-on-background) !important;
  position: fixed !important;
}
body.hide-devtools .vbox.root-view {
  transform: translateY(calc(100% - 5px));
  transform-origin: bottom;
}
/* body:not(.hide-devtools) {
  padding-bottom: 50vh;
} */
.root-view .tabbed-pane > .view-container .timeline-toolbar-container {
  display: none;
}
#devtools-expand-button-wrapper {
  background-color: var(--md-sys-color-surface-container-highest);
  position: absolute;
  top: -28px;
  padding: 8px 0;
  left: calc(50% - 30px);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: -1;
  overflow: hidden;
}
#devtools-expand-button-wrapper > md-icon-button {
  margin-top: -10px;
  width: 60px;
}

#replay-options-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 2em 0;
}

#snackbar {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  
  --md-elevation-level: 2;
  --bottom: 2em;

  bottom: var(--bottom);
  left: var(--bottom);
  position: fixed;
  z-index: 3;

  color: var(--md-sys-color-on-background);
  background-color: var(--md-sys-color-surface-container-highest);
}
#snackbar,
#snackbar > md-elevation {
  border-radius: 16px;
}
#snackbar:hover {
  --md-elevation-level: 4;
}
#snackbar.hide {
  transform: translateY(calc(100% + var(--bottom)));
}
#snackbar.success {
  --md-elevation-shadow-color: var(--md-sys-color-success);
  --md-icon-button-icon-color: var(--md-sys-color-on-success-container);
  color: var(--md-sys-color-on-success-container);
  background-color: var(--md-sys-color-success-container);
}
#snackbar.error {
  --md-elevation-shadow-color: var(--md-sys-color-error);
  --md-icon-button-icon-color: var(--md-sys-color-on-error-container);
  color: var(--md-sys-color-on-error-container);
  background-color: var(--md-sys-color-error-container);
}