<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href=<%= htmlWebpackPlugin.options.manifest %> />
    <link rel="icon" sizes="192x192" href=<%= htmlWebpackPlugin.options.icon192 %> />
    <link rel="icon" sizes="512x512" href=<%= htmlWebpackPlugin.options.icon512 %> />

    <meta name="rating" content="General" />
    <meta name="robots" content="index,follow" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href=<%= htmlWebpackPlugin.options.sitemap %>
    />
    <link rel="apple-touch-icon" href=<%= htmlWebpackPlugin.options.icon512 %> />
    <link rel="mask-icon" href=<%= htmlWebpackPlugin.options.icon512 %> color="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="theme-color" content="#000" />
    <meta name="mobile-web-app-capable" content="yes" />

    <script defer src="/_vercel/insights/script.js"></script>
  </head>

  <body>
    <noscript class="text-center text-lg text-red-500">
      Enable JavaScript to enjoy all the features of this app.
    </noscript>
    <header>REx - Replay Experiences</header>
    
    <main id="main">
      
    </main>
    
    <footer></footer>
  </body>
</html>
